html {
  overflow: scroll;
}

p {
  font-size: 15px;
}

.container {
  margin-bottom: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(77, 77, 77);
  width: 100%;
  text-align: center;
  padding: 25px;
}

@media screen and (max-width: 600px) {
  div {
    width: 100%;
    margin: 0%;
  }
}